// mixins

// Breakpoints
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 90.1em; // 1441px
$bp-xxlarge: 120em; // 1920px

// Media Queries
$m: min-width $bp-medium;
$l: min-width $bp-large;
$xl: min-width $bp-xlarge;
$xxl: min-width $bp-xxlarge;

$blacky:#182a33;
$blaucel:#00AAD0;
$blaufosc:#487e99;
$blauhover:#8cc8df;
$lightgray:#f8f8f8;
$midgray:#b9bfc1;



@keyframes Gradient { 
    0%{background-position: 0% 0% }
    50%{background-position: 100% 100% }
    100%{background-position: 0% 0% }
}


@mixin animated-gradient {
	background: linear-gradient(180deg, $blaucel, adjust-hue($blaucel, 10%) );
  // background: linear-gradient(180deg, #457fca, red);
	background-size: 400% 400%;
	animation: Gradient 24s ease infinite;
	
}




@mixin smoothy{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin roboto($weight, $size) {
 font-family: 'Roboto', Helvetica, sans-serif; 
 font-weight: $weight; 
 font-size: $size; 
 @include smoothy;
}

@mixin slab($weight, $size) {
 font-family: 'Roboto Slab', Times, serif; 
 font-weight: $weight; 
 font-size: $size; 
 @include smoothy;
}

@mixin border-box{
    box-sizing: border-box;
}

@mixin no-space{
    margin: 0;
    padding: 0;
}

