@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import 'reset';
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'mixins';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$max-width: 1280px;


html {
  font-size:100%;
}

body{
 font-size:10px;
 // background: url('../img/porfolio_bg.jpg')center top no-repeat;
}

.container{
    @include outer-container($max-width);
}

.full-width{
  width: 100%;
  background-color: $blaucel;
}


/* ==========================================================================
   Header
   ========================================================================== */

header{
  height: 130px;
  @include outer-container($max-width);
}

.logo{
  border-left: 1px solid $blacky;
  padding-left:15px;
  margin-top: 40px;
  @include span-columns(11);
  @include shift(1);

  // Media Queries
  @include media($l) {
            padding-left:25px;
            margin-top: 40px;
            @include span-columns(5.5);
            @include shift(.5);
            }
           // @include media($l) {
            //} 
  }

h1{
  @include slab(700, 3.6em);
  color:$blacky;
  letter-spacing: 2;
  line-height: 1em;
  @include no-space;
}

.subtitle{
  @include roboto(400, 2em);
  color:$blacky;
  line-height: 2em;
  @include no-space;
}

.social-media{
    @include span-columns(11);
    @include shift(1);
    //@include no-space;
        // Media Queries
        @include media($l) {
                @include span-columns(5.5);
                @include shift(0);
                }
    }

  .social-media ul{
    padding-left: 15px;
    padding-bottom: 25px;
          // Media Queries
          @include media($l) {
            margin-top: 40px;
            float:right;
            }
    }
   .social-media li{
      display: inline;
      list-style-type: none;
      margin-right: 20px; 
    }
    .social-media li:last-child {
    margin:0;
    }
    .social-media a{
      opacity:.3;
      text-decoration: none;
    }

.diagonal-top{
  height: 20px;
  @include linear-gradient(to right bottom, #fff 50%, $blaucel 50.5%);
  // Media Queries
      @include media($m) {
                height: 40px;
                }
        @include media($l) {
                height: 60px;
                }
}


/* ==========================================================================
   About
   ========================================================================== */
.title{
    border-left: 1px solid white;
    padding-left:25px;
    margin-top: 60px;
    @include span-columns(11);
    @include shift(1);
    
    // Media Queries
      //@include media($m) {
               
               // }
        @include media($l) {
                @include span-columns(3.5);
                @include shift(.5);
                }
  }

#about {
  
  h2{
    @include slab(700, 3.6em);
    color:white;
    letter-spacing: 2;
    line-height: 1em;
    @include no-space;
  }
  .description{
    @include span-columns(7);
    margin-top: 60px;
    padding-bottom:80px;
  }
  .subtitle{
    color:white;
  }
  p{
    @include roboto(300, 2.4em);
    color:white;
    line-height: 1.5em;
    @include no-space;
  }
  span{
    @include roboto(700, 1em);
    color:white;
  }
  a{
    @include slab(700, 1em);
    color:white;
    border-bottom: 3px solid $blauhover;
    text-decoration: none;
  }
  a:hover{
    color:$blauhover;
    border-bottom: 2px solid $blauhover;
  }
  br{
    line-height: 3em;
  }
}

#featured-projects{
  padding-top: 80px;
  .title{
    border-left: 1px solid $blacky;
    padding-left:25px;
    //margin-top: 60px;
    @include span-columns(11.5);
    @include shift(.5);
  }
  h2{
    @include slab(700, 3.6em);
    color: $blacky;
    letter-spacing: 2;
    line-height: 1em;
    @include no-space;
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


@import 'print';
