@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import 'reset';
@import 'bourbon';
@import 'grid-settings';
@import 'neat';
@import 'mixins';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$max-width: 1280px;


html {
  font-size:100%;
}

body{
 font-size:10px;
 // background: url('../img/porfolio_bg.jpg')center top no-repeat;
}

.container{
    @include outer-container($max-width);
}

.full-width{
  width: 100%;
  background-color: $blaucel;
}


/* ==========================================================================
   Header
   ========================================================================== */

header{
  height: 130px;
  @include outer-container($max-width);
}

.logo{
  border-left: 1px solid $blacky;
  padding-left:15px;
  margin-top: 40px;
  @include span-columns(11);
  @include shift(1);

  // Media Queries
  @include media($m) {
            padding-left:25px;
            margin-top: 40px;
            @include span-columns(5.5);
            @include shift(.5);
            }
           // @include media($l) {
            //} 
  }

h1{
  @include slab(700, 3.6em);
  color:$blacky;
  letter-spacing: 2;
  line-height: 1em;
  @include no-space;
}

.subtitle-dark{
  @include roboto(400, 2em);
  color:$blacky;
  line-height: 2em;
  @include no-space;
}

.social-media{
    @include span-columns(11);
    @include shift(1);
    //@include no-space;
        // Media Queries

        @include media($m) {
                @include span-columns(3);
                @include shift(2.5);
                }
    }

  .social-media ul{
    padding-left: 15px;
    padding-bottom: 25px;
          // Media Queries
          @include media($m) {
            margin-top: 40px;
            float:right;
            }
    }
   .social-media li{
      display: inline;
      list-style-type: none;
      margin-right: 20px; 
    }
    .social-media li:last-child {
    margin:0;
    }
    .social-media a{
      opacity:.3;
      text-decoration: none;
    }

.diagonal{
  height: 20px;
  @include linear-gradient(to right bottom, #fff 50%, $blaucel 50.5%);
  // Media Queries
      @include media($m) {
                height: 40px;
                }
        @include media($l) {
                height: 60px;
                }
}


/* ==========================================================================
   About
   ========================================================================== */
.title{
    border-left: 1px solid white;
    padding-left:25px;
    margin-top: 60px;
    @include span-columns(11);
    @include shift(1);
    // Media Queries
      @include media($m) {
               @include span-columns(3.5);
                @include shift(.5);
                }
        @include media($l) {
                @include span-columns(3);
                @include shift(.5);
                }
  }
h2{
    @include slab(700, 3.6em);
    color:white;
    letter-spacing: 2;
    line-height: 1em;
    @include no-space;
}
.subtitle{
    @include roboto(400, 2em);
    color:white;
    line-height: 2em;
    @include no-space;
}
.description{
    @include span-columns(10);
    @include shift(1);
    margin-top: 60px;
    padding-bottom:100px;
    // Media Queries
      @include media($m) {
               @include span-columns(6.5);
               @include shift(.5);
               }
      @include media($l) {
                @include span-columns(7.5);
                @include shift(0);
                }
}
.p-description{
    @include roboto(300, 2.4em);
    color:white;
    line-height: 1.4em;
    @include no-space;
  }
.span-description {
    @include roboto(700, 1em);
    color:white;
  }
.a-white{
  @include slab(700, 1em);
  color:white;
  border-bottom: 3px solid $blauhover;
  text-decoration: none;
}
.a-white:hover{
  color:$blauhover;
  border-bottom: 2px solid $blauhover;
}
.br-description{
    line-height: 3em;
  }

/* ==========================================================================
   Featured Projects
   ========================================================================== */

.title-projects{
    border-left: 1px solid $blacky;
    padding-left:25px;
    margin-top: 100px;
    @include span-columns(11);
    @include shift(1);
    // Media Queries
      @include media($m) {
               @include span-columns(11.5);
                @include shift(.5);
                }
        @include media($l) {
                @include span-columns(11.5);
                @include shift(.5);
                }
  }
.color-blacky{
  color: $blacky;
}
.project {
   @include no-space;
   @include media($l) {
                @include span-columns(10);
                @include shift(1);
                }
}
.project_container{
  padding-top: 75px;
  border-bottom: 1px solid $lightgray;
}

.project li{
  list-style-type: none;
  @include clearfix;
}
.project-image{
  @include no-space;
  @include media($l) {
                @include span-columns(4 of 10);
                }
}
.marc-foto{
  height:490px;
  @include no-space;  
  position: relative;
}
.img1{
  z-index: 999;
  box-shadow: 0 10px 15px 0 rgba(0, 71, 92, 0.3), 0 6px 20px 0 rgba(0, 71, 92, 0.3);
  position: absolute;
  top: 0;
  right:0;
}
.img2{
  margin-top: 20px;
  box-shadow: 0 10px 15px 0 rgba(0, 71, 92, 0.3), 0 6px 20px 0 rgba(0, 71, 92, 0.3);
  position: absolute;
  top: 0;
  right:160px;
}
.project-text{
  @include no-space;
  @include media($l) {
                @include span-columns(5.5 of 10);
                }
}
.eyebrow{
  @include roboto(400, 2em);
  color:$blacky;
  line-height: 1;
  @include no-space;
  margin-top: 20px;
  margin-left: 50px;
}
.eyebrow p{
  @include no-space;
}
.a-blue{
  @include slab(700, 1em);
  color:$blaucel;
  line-height: auto;
  @include no-space;
  text-decoration: none;
}
.project-name{
  @include slab(700, 3.6em);
  line-height: 1;
  @include no-space;
  margin-top: 5px;
  margin-left: 50px;
}
.project-name p{
  @include no-space;
  }
.a-title{
  color:$blacky;
  text-decoration: none;
}
.introduction{
  @include roboto(300, 2em);
  color:$blacky;
  line-height: 1.5em;
  @include no-space;
  margin-left:50px;
  margin-right: 40px;
  padding-top:40px;
}
.bg-introduction{
  @include no-space;
  height:240px;
  margin-top:35px;
  margin-right: 52px;
  background-color:$lightgray;
  position:relative;
  z-index: 1
}
.cta{
  height:36pt;
  border: $blaucel solid 2px;
  float:right;
  position:relative;
  padding-top: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
}
.a-project{
  @include slab(700, 2em);
  color:$blacky;
  text-decoration: none;
  @include no-space;
}
/* ==========================================================================
   Other Projects
   ========================================================================== */
.title-other{
    border-left: 1px solid white;
    padding-left:25px;
    margin-top: 60px;
    @include span-columns(11);
    @include shift(1);
    // Media Queries
      @include media($m) {
               @include span-columns(11.5);
                @include shift(.5);
                }
        @include media($l) {
                @include span-columns(11.5);
                @include shift(.5);
                }
  }


.side-project-list{
  @include no-space;
   @include span-columns(11);
   @include shift(.5);
   margin-top: 75px;
}
.side-project{
  @include span-columns(1 of 3);
  @include no-space;
}
h3{
  @include slab(700, 2.4em);
  color: $blacky;
  text-align: center;
}
.p-white{
  @include roboto(300, 2em);
  color:white;
  line-height: 1.5em;
  text-align: center;
  @include no-space;
  padding-left:20px;
  padding-right:20px;
  //margin-right: 40px;
  //padding-top:40px;
}
.cta-footer{
  height:36pt;
  border: white solid 2px;
  @include span-columns(2);
  @include shift(5);
  padding-top: 5pt;
  padding-left: 10pt;
  padding-right: 10pt;
  margin-top: 80px;
  margin-bottom: 80px;
}
.cta-footer a {
  color:white;
  text-align: center;
  padding-left:45px;
}
.diagonal-bottom{
  height: 20px;
  @include linear-gradient(to right bottom,$blaucel 50.5%, #fff 50%);
  // Media Queries
      @include media($m) {
                height: 40px;
                }
        @include media($l) {
                height: 60px;
                }
}
/* ==========================================================================
   Footer
   ========================================================================== */
   .social-media-footer{
    @include span-columns(11);
    @include shift(1);
    //@include no-space;
        // Media Queries

        @include media($m) {
                @include span-columns(11.5);
                @include shift(.5);
                }
    }

    .social-media-footer ul{
    padding-left: 15px;
    padding-bottom: 25px;
          // Media Queries
          @include media($m) {
            margin-top: 40px;
            float:left;
            }
    }
   .social-media-footer li{
      display: inline;
      list-style-type: none;
      margin-left: 20px; 
    }
    .social-media-footer li:first-child {
    margin:0;
    }
    .social-media-footer a{
      opacity:.3;
      text-decoration: none;
    }


/* ==========================================================================
   Media Queries
   ========================================================================== */


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


@import 'print';
